<h2>GET /animals - This should show all animals</h2>

<% @all_animals.each do |animal| %>
  <ul>
    <li>
      <a href="/animals/<%= animal["id"] %>">ID of <%= animal["id"] %></a>
    </li>
    <li>Species: <%= animal["species"] %></li>
    <li>Image: <%= animal["image"] %></li>
    <li>Description: <%= animal["description"] %></li>
  </ul>
<% end %>
