<h2>This should show just one habitat</h2>

<h3>The ID is <%= @habitat.id %></h3>
<h3>The landscape is <%= @habitat.landscape %></h3>
<h3>The climate is <%= @habitat.climate %></h3>

<a href="/habitats/<%= @habitat.id %>/edit">Edit this habitat</a>
<a href="/habitats/<%= @habitat.id %>/delete">Delete this habitat</a>

<hr>

<h2>There are <%= @habitat.animals.length %> animal(s) living here</h2>

<ul>
  <% @habitat.animals.each do |animal| %>
    <li>
      <a href="/animals/<%= animal.id %>">
        <%= animal.species %>
      </a>
    </li>
  <% end %>
</ul>
