<!DOCTYPE html>
<html>
<head>
  <title>MonaApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <%= link_to "All Artists", "/artists" %>
    <%= link_to "Create a new artist", "/artists/new" %>
    <%= link_to "All Works", "/works" %>
    <%= link_to "Create a new work", "/works/new" %>
  </nav>

  <%= yield %>

</body>
</html>
